h1 {
  margin: 20px 0px;
  padding: 20px 0px;
}
div.totals {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
div.totals div.card {
  display: flex;
  flex-direction: column;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
}
div.totals div.card h3 {
  background-color: #6155B4;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 20px;
}
div.totals div.card div {
  flex: 1;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
div.totals div.card div h2 {
  font-size: 70px;
}
div.status {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
div.status div.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
}
div.status div.card h3 {
  background-color: #6155B4;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 20px;
}
div.status div.card div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
div.status div.card div h2 {
  font-size: 100px;
}
@media (max-width: 1020px) {
  div.totals {
    grid-template-columns: auto;
  }
}
