* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3 {
  background-color: #6155B4;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 20px;
}
div.inputs-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
div.inputs-container div.inputs {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
}
div.inputs-container div.inputs form {
  padding: 20px;
}
div.inputs-container div.inputs form label {
  display: block;
  padding: 10px;
  position: relative;
  font-style: italic;
}
div.inputs-container div.inputs form label input {
  width: 40%;
  padding: 5px;
  position: absolute;
  right: 0px;
  bottom: 5px;
  text-align: center;
}
div.inputs-container div.inputs form button {
  padding: 10px 30px;
  width: 100%;
  margin-top: 10px;
}
div.inputs-container div.outputs {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
}
div.inputs-container div.outputs div.output-list {
  padding: 20px;
}
div.inputs-container div.outputs div.output-list ul {
  padding-left: 0;
}
div.inputs-container div.outputs div.output-list ul li {
  padding: 10px;
  list-style-type: none;
  font-style: italic;
  position: relative;
}
div.inputs-container div.outputs div.output-list ul li span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
div.inputs-container div.outputs div.output-list div.actions {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
div.sched-table {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.16);
  margin-top: 30px;
}
@media (max-width: 1148px) {
  div.inputs-container {
    grid-template-columns: auto;
  }
  div.sched-table {
    overflow: scroll;
  }
}
