* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6155B4;
}
nav ul {
  list-style-type: none;
  width: 100%;
}
nav ul li {
  border-bottom: 1px solid #433986;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: #433986;
}
nav ul #logout {
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 1px;
}
@media (max-width: 707px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 99;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
  }
  nav ul li {
    border-bottom: none;
  }
  nav ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    padding: 3px;
    font-size: smaller;
  }
  nav ul li a:hover {
    background-color: #433986;
  }
  nav ul #logout {
    position: unset;
    width: unset;
  }
}
