div.content {
  margin-left: 200px;
}
div.container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}
@media (max-width: 707px) {
  div.content {
    margin-left: 0;
    margin-top: 50px;
  }
}
