*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

form.index{
    width:400px;


    label{
        display:block;
        margin-bottom:15px;
        text-align: center;
    }
    input{
        display:block;
        width:100%;
        text-align: center;
    }
    a{
        text-align: center;
        display:block;
        margin-top:50px;
    }
}

h1{
    text-align: center;
    margin-top:20px;
}

form.register{
    width:480px;
    padding:20px;
    margin:auto;

    input{
        margin-bottom:20px;
        text-align: center;
    }
    input[type=submit]{
        width:100%;
    }
}